  .img_thumb_banner{
       max-height: 100px;
       
  }

  #sortable { list-style-type: none; margin: 0; padding: 0; width: 99%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em;  }
  #sortable li span { position: absolute; margin-left: -1.3em; font-size: 11px }
  
  aside{
      min-height: 100%
  }
  
 #swal2-content{
     font-size: 20px;
}

.colorSelector div{
    
    width: 30px;
    height: 30px;
    background: url(../js/colorpicker/images/select.png) center;
    
}

.background_bloqueado td{
      /*  background: #b0d9f7; */
       background: #ede7c0;
}
.background_azul td{
      background: #b3dde6;
  }
  